@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
    overflow-x:hidden;
    background-color:#05070c;
    font-family:"Manrope",sans-serif;
}

body{
    overflow-x:hidden;
}

.page{
    width:100%;
    min-height:100vh;
    background: rgb(7, 11, 20)
}