/* Hero Banner */

.hero-banner{
    position:relative;
    width:100%;
    min-height: 100vh;
    overflow:hidden;
    background:#000;
}

/* Video */

.hero-video{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center center;
}

/* Oscurece ligeramente el vídeo */

.hero-banner::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.10);
    z-index: 1;
}


/* Difuminado inferior */

.hero-banner::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:180px;
    background:linear-gradient(
        transparent,
        rgb(7, 11, 20)
    );
    z-index:2;
}

/* Logo */

.hero-logo{
    position:absolute;
    top:32px;
    left:42px;
    width:90px;
    z-index:10;
    object-fit:contain;
    transition:.35s;
}

.hero-logo:hover{
    transform:scale(1.05);
}


/* Texto */

.hero-content{
    position:absolute;
    inset:0;
    z-index:5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:40px;
    mix-blend-mode:difference;
    color:white;
}


/* Nombre */

.hero-content h1,
.hero-content p{
    margin:0;
}

.hero-content h1{
    font-family:"Inter",sans-serif;
    font-weight:700;
    letter-spacing:.07em;
}

/* Software Engineer */

.hero-content p{
    font-family:"Inter",sans-serif;
    font-weight:600;
    letter-spacing:.07em;
    color:rgba(255, 255, 255, 0.85);
}

/* Navigation Bar */
nav {
    position: absolute;
    top: 32px;
    right: 42px;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 490px;
    height: 50px;

    font-family: Inter, sans-serif;
    font-size: 16px;

    background: linear-gradient(
        90deg,
        rgba(15, 22, 36, 0.1) 0%,
        rgba(12, 19, 32, 0.2) 50%,
        rgba(10, 16, 28, 0.3) 100%
    );

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    isolation: isolate;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;

    padding: 7px 16px;
    border: 2px solid transparent;
    border-radius: 50px;

    color: aliceblue;
    text-decoration: none;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

nav a:hover {
    background: linear-gradient(
        135deg,
        rgba(75, 87, 110, 0.65),
        rgba(42, 53, 72, 0.65)
    );
    border-color: aliceblue;
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.22);
}

nav a:active {
    background: linear-gradient(
        135deg,
        rgba(67, 76, 180, 0.9),
        rgba(41, 48, 115, 0.9)
    );

    border-color: rgba(255, 255, 255, 0.8);

    transform: scale(0.97);

    box-shadow:
        0 3px 8px rgba(0, 0, 0, 0.3),
        0 0 18px rgba(84, 96, 230, 0.35);
}

.hero-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    max-width: min(90%, 700px);
}

.hero-tags span {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 18px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;

    color: rgba(255, 255, 255, 0.9);

    background: rgba(8, 18, 35, 0.45);

    border: 1px solid rgba(91, 162, 255, 0.65);
    border-radius: 50px;

    box-shadow:
        inset 0 0 8px rgba(91, 162, 255, 0.08),
        0 0 8px rgba(91, 162, 255, 0.12);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition:
        background 0.35s ease,
        transform 0.35s ease,
        box-shadow 0.35s ease;
}

.hero-tags span img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.hero-tags span:hover {
    background: rgba(45, 76, 130, 0.5);
    box-shadow:
        inset 0 0 10px rgba(91, 162, 255, 0.15),
        0 0 14px rgba(91, 162, 255, 0.35);
    transform: translateY(-2px);
}

/* Responsive */

@media(max-width:1200px){

    .hero-content h1{
        letter-spacing:.25rem;
    }
}

@media(max-width:900px){
    .hero-banner{
        height:60vh;
        min-height:430px;
    }

    .hero-logo{
        width:70px;
        left:24px;
        top:24px;
    }

    .hero-content h1{
        font-size:3.5rem;
        letter-spacing:.16rem;
    }

    .hero-content p{
        font-size:1rem;
        letter-spacing:.32rem;
    }

}

@media(max-width:600px){
    .hero-banner{
        height:55vh;
    }

    .hero-content{
        padding:0 24px;
    }

    .hero-content h1{
        font-size:2.3rem;
        letter-spacing:.05rem;
    }

    .hero-content p{
        margin-top:1rem;
        font-size:.9rem;
        letter-spacing:.18rem;
    }
}