/* Hero Banner */

.hero-banner{
    position:relative;
    width:100%;
    height:72vh;
    min-height:520px;
    max-height:900px;
    overflow:hidden;
    background:#000;
}

/* Video */

.hero-video{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center center;
}

/* Oscurece ligeramente el vídeo */

.hero-banner::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.10);
    z-index: 1;
}


/* Difuminado inferior */

.hero-banner::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:180px;
    background:linear-gradient(
        transparent,
        rgb(7, 11, 20)
    );
    z-index:2;
}

/* Logo */

.hero-logo{
    position:absolute;
    top:32px;
    left:42px;
    width:90px;
    z-index:10;
    object-fit:contain;
    transition:.35s;
}

.hero-logo:hover{
    transform:scale(1.05);
}


/* Texto */

.hero-content{
    position:absolute;
    inset:0;
    z-index:5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    mix-blend-mode:difference;
    color:white;
    pointer-events:none;
}


/* Nombre */

.hero-content h1{
    font-family:"Inter",sans-serif;
    font-weight:700;
    letter-spacing:.07em;
}

/* Software Engineer */

.hero-content p{
    font-family:"Inter",sans-serif;
    font-weight:600;
    letter-spacing:.07em;
    color:rgba(255, 255, 255, 0.85);
}

/* Navigation Bar */
nav {
    position: absolute;
    top: 32px;
    right: 42px;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 475px;
    height: 50px;

    font-family: Inter, sans-serif;
    font-size: 16px;

    background: linear-gradient(
        90deg,
        rgba(15, 22, 36, 0.1) 0%,
        rgba(12, 19, 32, 0.2) 50%,
        rgba(10, 16, 28, 0.3) 100%
    );

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;

    transition: all .35s ease;

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;

    padding: 7px 16px;
    border-radius: 50px;

    color: aliceblue;
    text-decoration: none;
    transition: background 0.45s ease, transform 0.35s ease, box-shadow 0.35s ease;
}

nav a:hover {
    background: linear-gradient(
        135deg,
        rgba(75, 87, 110, 0.65),
        rgba(42, 53, 72, 0.65)
    );
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.22);
}

/* Responsive */

@media(max-width:1200px){

    .hero-content h1{
        letter-spacing:.25rem;
    }
}

@media(max-width:900px){
    .hero-banner{
        height:60vh;
        min-height:430px;
    }

    .hero-logo{
        width:70px;
        left:24px;
        top:24px;
    }

    .hero-content h1{
        font-size:3.5rem;
        letter-spacing:.16rem;
    }

    .hero-content p{
        font-size:1rem;
        letter-spacing:.32rem;
    }

}

@media(max-width:600px){
    .hero-banner{
        height:55vh;
    }

    .hero-content{
        padding:0 24px;
    }

    .hero-content h1{
        font-size:2.3rem;
        letter-spacing:.05rem;
    }

    .hero-content p{
        margin-top:1rem;
        font-size:.9rem;
        letter-spacing:.18rem;
    }
}